#-------------------------
# Final Vircon32 binaries
#-------------------------
*.v32

#--------------------------------------
# Object/temporary files from Vircon32
#-------------------------------------
*.vtex
*.vsnd
*.vbin
*.vmap
*.asm

#--------------------------------------
# Object/temporary files from the PC
#-------------------------------------
*.layout
*.bak
*.old

#--------------------------------------
# Provisional files/folders
#-------------------------------------
\[*\]
\[*\].*
*.zip
*.svg
*.mp3
