#-------------------------
# Image files
#-------------------------
*.png binary
*.gif binary
*.jpg binary
*.ase binary
*.psd binary

#-------------------------
# Sounds files
#-------------------------
*.wav binary
*.mp3 binary
*.mmpz binary

#-------------------------
# Document files
#-------------------------
*.xlsx binary
*.docx binary
*.pptx binary

#-------------------------
# Other possible files
#-------------------------
*.exe binary
*.fnt binary
*.zip binary

